<router-outlet />
<nav class="top-nav">
    <span class="logo">SKILLSWAP</span>
    <div class="user-info">
      @if(authservice.Authenticated()){
          <button class="btn-blue"(click)="aboutme()"  >about me</button>
          <button class="btn-red" (click)="logout()">logout</button>
      }
      @else {
          <button class="btn-red"  (click)="login()">login</button>
      }
    </div>
</nav>
<main>
      <!-- protect data -->
      @if(authservice.Authenticated()){
          <!-- un container etat ces jobs -->
          <div>

          </div>
          <!-- un container list de ces contrats -->
          <div>

          </div>
      }

</main>

