<router-outlet />
<nav class="top-nav">
    <span class="logo">SKILLSWAP</span>
    <div class="user-info">
      @if(authservice.Authenticated()){
          <button class="btn-blue"(click)="aboutme()"  >about me</button>
          <button class="btn-red" (click)="logout()">logout</button>
      }
      @else {
          <button class="btn-red"  (click)="login()">login</button>
      }
    </div>
</nav>
<main>
      <!-- protect data -->
      @if(authservice.Authenticated()) {
          <!-- un container etat ces jobs -->
          <fieldset class="box third" >
              <legend class="logo">My Jobs</legend>
              @for (job of jobs(); track $index) {
                  <div class="job-item">
                    <strong>{{ job.title }}{{ job.status }}</strong>
                  </div>
              }
              @empty {
                  <p>no jobs yet post sum </p>
              }

          </fieldset>




          <fieldset class="box third" >
          <legend class="logo">My bids</legend>
              @for (bid of bids(); track $index) {
                  <div class="job-item">
                    <strong></strong>
                  </div>
              }
              @empty {
                  <p>no jobs yet post sum </p>
              }
          </fieldset>
      }

</main>

