

h1 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}



button {
  width: 100%;
  padding: 1rem;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}


.error, .api-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.api-error {
  background: #ffeeee;
  padding: 0.5rem;
  border: 1px solid red;
  text-align: center;
}
